[submodule "test"]
	path = test
	url = git@github.com:jfrancai/ft_container-test.git
[submodule "lib/googletest"]
	path = lib/googletest
	url = https://github.com/google/googletest/tree/2fe3bd994b3189899d93f1d5a881e725e046fdc2
